.App {
	text-align: center;
}
.output-style {
	width: 350px;
	height: 75vh;
	background-color: #e1f8fa;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 8px double #000000;
	border-radius: 15px;

}
.input-style {
	width: 350px;
	height: 75vh;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 15px;
	border: 8px double #000000;
	text-align: left;
}
